body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
    margin: 20px auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #0062FF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004bbf;
}

span {
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
}