body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#puzzleContainer {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    width: 315px;
    height: 315px;
}

.tile {
    background-size: cover;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s;
    border: 1px solid #000; /* Add borders to make boxes visible */
}

#resultMessage {
    margin-top: 20px;
    font-size: 24px;
}

#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0062FF;
    color: white;
    border: none;
    cursor: pointer;
}