body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#puzzleContainer {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    width: 315px;
    height: 315px;
    position: relative;
}

.tile {
    background-size: cover;
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: absolute;
    transition: top 0.3s, left 0.3s;
}

.title {
    background-color: #0062FF;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: absolute;
    transition: top 0.3s, left 0.3s;
}

#resultMessage {
    margin-top: 20px;
    font-size: 24px;
}

#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0062FF;
    color: white;
    border: none;
    cursor: pointer;
}